:root {
    --primary: #57A773;
    --primary-light: #9FC5A8;
    --primary-dark: #2E6E3E;
    --secondary: #08B2E3;
    --secondary-light: #9FC5E8;
    --secondary-dark: #2E6E9E;
    --tertiary: #EE6352;
    --soft: #F0E2E7;
    --success: #28A745;
    --danger: #B20D30;
    --warning: #FFC107;
    --info: #17A2B8;
    --light: #F8F9FA;
    --dark: #343A40;
}

