@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');  /* Import Google Fonts */   
@import url('color.css');   /* Import color.css */
@import url('book.css');  /* Import layout.css */

* {
  box-sizing: border-box;
}

/* Main layout */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    max-width: 1800px;
    margin-top: 260px;
    margin-left: 50px;
    padding: 0 20px;
}

.static-div {
    position: fixed; /* Set position to fixed */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Take up full width */
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: #484D6D; /* Text color */
    background-color: #EFE9F4; /* Background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    z-index: 999; /* Ensure the div stays on top of other content */
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0;
}

.logo {
    padding-right: 5px;
    margin: 0;
}

.username {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: var(--info);
}

.greet {
    margin: 0;
    line-height: 5px;
    text-align: center;
}

.manageBook {
    display: flex;
    align-items: center;
    justify-content: center;
}

.manageItem {
    display: flex;
    align-items: center;
    justify-content: center;

}

.addForm {
    display: flex;
    margin: 20px;
    padding: 0 20px;
    /* border: green 1px solid; */
}

.addItem {
    margin: 20px;
    padding: 0 10px;
    /* border: green 1px solid; */
}

/* Buttons */
button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary);
    color: white;
}

button:hover {
    background-color: var(--secondary-dark)
}


form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    margin-bottom: 10px;
}

form[action="updateBook"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#logoutBtn {
    background-color: var(--tertiary);
}

#logoutBtn:hover {
    background-color: darkred;
}

.searchForm {
    display: flex;
    min-width: 450px;
    padding-top: 5px;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchForm input {
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;

}

.searchForm input:hover {
    background-color: #f9f9f9;
}

.searchResult {
    display: flex;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;

}

.searchResult span {
    margin-right: 20px;
}

.resultText {
    font-weight: 500;
    font-size: 20px;
    color: var(--primary);
}

.noResultText {
    font-weight: 500;
    font-size: 20px;
    color: var(--tertiary);
}

.resetBtn {
    background-color: var(--secondary);
    margin: 0 auto;
    padding: 8px 10px;
}

.resetBtn:hover {
    background-color: var(--secondary-dark);
}

.addBtn {
    margin: 0; /* Remove default margin */
    background-color: var(--primary);
}

.addBtn:hover {
    background-color: var(--primary-dark);
}

.deleteBtn {
    background-color: red;
}

.deleteBtn:hover {
    background-color: darkred;
}

.updateBtn {
    margin: 0; /* Remove default margin */
}

.cancelBtn {
    background-color: var(--tertiary);
}